# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# SQLAlchemy / SQLite
*.db

# Alembic cache
alembic/__pycache__/

# Build files
build/
dist/
*.egg-info/

# IDE files
.idea/